:root {
  --azul: rgb(0, 39, 65);
  --cinza-claro: rgba(167,169, 172, .4);
  --cinza-escuro: rgb(88, 89, 91);
  --abril: 'Abril Fatface', cursive;
  --bd-azul: solid 1px var(--azul);
  --bd-cinza: solid 1px var(--cinza-escuro);
  --bd-cinza-claro: solid 1px var(--cinza-claro);
}

html, body { height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: var(--azul);
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
}

img { width: 100%; }

/* TYPOGRAPHY */

h1, h2, h3, h4 {
  font-family: var(--abril);
  margin: 1em 0 0;
  color: var(--cinza-escuro);
}

p {
  line-height: 1.4;
  margin-bottom: 1em;
  color: var(--cinza-escuro);
}

li {
  margin-left: 1em;
}


hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--laranja), var(--laranja), var(--laranja),rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin-top: 1rem;
}

.center {
  margin-top: 10rem;
  text-align: center;
  grid-column: 1/-1;
  margin-bottom: 7rem;
  font-size: 1.3rem;
}


/* LINKS */

*:hover{ 
  text-decoration: none;
  transition: all 0.5s;
}

ul {
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

.content li:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -1rem;
  top: 0;
  color: var(--laranja);
}

/* Button */

.button {
  background: white;
  border: var(--bd-azul);
  padding: 1em;
  font-size: .8em;
  border-radius: 3px;
  margin-top: 2em;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

a.button {
  color: var(--azul);
  text-decoration: none;
}

a.button:hover {
  box-shadow: 0;
  color: white;
  background: var(--azul);
  transition: all 0.5s;
}

/* HEADER */

.ruler-top {
  border-top: 10px solid var(--azul);
  position: fixed;
  width: 96%;
  justify-content: center;
}

header {
  border-bottom: var(--bd-azul);
  display: grid;
  align-items: baseline;
  justify-content: center;
  margin: 0 2%;

}

.brand img { 
  max-width: 250px;
  margin: 2rem;
}



/* CONTENT */

.content{ 
  justify-content: center;
}

/* INDEX */

.principal, .artigos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
}

.principal {
  border-bottom: 2px solid var(--cinza-claro);
  padding: 3em 0;
  margin-bottom: 3em
}

.principal-explicacao {
  grid-column: 1/2;
}

.principal-img {
  grid-column: 2/4;
  height: 30em;
  background-size: cover;
  z-index: -10;
}

.principal-explicacao {
  font-family: 'Archivo Narrow', sans;
  font-size: 1em;
}

.principal-explicacao > h2 {
  color: var(--azul);
  margin-bottom: 1em;
}

.principal-explicacao > h2 > a,
.artigos-texto_info > h4 > a {
  text-decoration: none;
  color: var(--azul);
}

.principal-explicacao > h2 > a:hover,
.artigos-texto_info >h4 > a:hover {
  border-bottom: var(--bd-azul);
  transition: all 0.5s;
}

.artigos-texto {
  grid-column:1/3; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4em;
}

.artigos-texto_item {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  font-size: .9em;
  border-bottom: var(--bd-cinza-claro);
}

.artigos-texto_item > img {
  width: 7em;
  margin: 1em;
  z-index: -10;
}

.artigos-texto_info > h4{
  letter-spacing: 2px;
}

.artigos-chamada {
  font-family: var(--abril);
  grid-column: 3/4;
  padding-left: 1em;
  border-left: var(--bd-azul);
}

.artigos-tag {
  color: var(--cinza-claro);
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1rem;
}

/* POSTS */

.content {
  max-width: 96%;
  margin: 0 auto;
  position: relative;
}

.copy-category {
  border-bottom: var(--bd-azul);
  padding: 1rem 1em;
  font-family: var(--abril);
  font-size: 1.5em;
}

.copy-hero{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 2em;
  text-align: center;
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 1em 1fr 1em 1fr;
}

.copy-hero_esq {
  grid-column: 1/2;
}

.copy-hero_gapesq{
  grid-column: 2/3;
  background-color: white;
}

.copy-hero_content{
  grid-column: 3/4;
  background-color: white;
  margin-top: 800px;
  display: flex;
  align-items: end;
}

.copy-hero_title h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.copy-hero_title h1 > a {
  color: var(--azul);
  text-decoration: none;
}

.copy-hero_title h1 > a:hover {
  border-bottom: var(--bd-azul);
  transition: all .5s;
}

.copy-hero_meta {
  font-style: italic;
  font-size: 1.5em;
  padding: .5em;
  text-align: center;
  margin: 0 1em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.copy-hero_meta > blockquote {
  grid-column: 2/4;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

blockquote > p {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--laranja);
  margin-bottom: .3rem;
}

.copy-hero_gapdir {
  grid-column: 4/5;
  background-color: white;
}

.copy-hero_dir {
  grid-column: 5/6
}

.copy-content {
  max-width: 63rem;
  margin: 0 auto;
}

.is-fixed {
  opacity: 1;
}

@media screen and (max-width: 980px) {
  .copy {
    margin: 1rem;
  }
}

.--shadow {
  box-shadow: 5px -2px 5px rgba(0, 0, 0, .3);
}

.cta{
  background: var(--laranja);
  color: var(--branco);
  font-family: Chivo, Verdana, sans;
  font-weight: regular;
  font-size: 1rem;
  margin: 1.4rem auto;
  padding: .4rem .5rem;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.cta:hover{
  background: #a85854;
  box-shadow: none;
}

.post-img::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.post-img {
  height: 0px;
  opacity: .6;
}

/* Accordion */

.accordion-item a {
  text-decoration: none;
}

.accordion-item h2 {
  background-color: var(--cinza-claro);
  padding: 1rem;
  border-radius: 3px;
}


.accordion-show {
  display: none;
}

.accordion-show:target {
  display: block;
  padding: 1rem;
  background-color: rgba(167,169, 172, .2);
  border-radius: 3px;
}

/* NAV */

nav {
  background: #fff;
  border-top: var(--bd-azul);
  border-bottom: var(--bd-azul);
  grid-column: 1/ -1;
  padding-bottom: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-top: 2em;
}

nav a { 
  color: var(--azul); 
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  color: #fff;
  background: var(--azul);
}

@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

.pesquisa {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.pesquisa:target {
  display: flex;
}

.pesquisa-content{
  margin: auto;
  background-color: white;
  padding: 3rem;  
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

form {
  display: flex;
  flex-direction: column;
}

label, input {
  margin-bottom: 1rem;
}

input#search-box {
  border-bottom: var(--bd-azul);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: .3rem;
  font-family: "Archivo Narrow", sans;
  font-style: italic;
  color: var(--cinza-claro);
}

/* FOOTER */

footer { 
  display: flex;
  flex-direction: column;
  background: var(--branco); 
  color: var(--azul);
  text-align: center;
  border-top: solid 10px;
  width: 95%;
  margin: 6rem auto;
  height: 10em;
}

footer h3 {
  font-family: 'Archivo Narrow', sans;
  font-weight: bold;
  margin-top: 4rem;
}


.fab {
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.a-slideOut {
  opacity: 1;
  transition: all 3s ease;
}

html.is-animating .a-slideOut {
  opacity: 0;
}
