---
layout: default
title:  Casamento é sagrado
type: index
---

<div class="principal">
  {% for post in site.posts %}
  {% if post.tipo == 'home' %}
  <div class="principal-explicacao">
    <h2><a href="{{ post.url }}">{{ post. title }}</a></h2>
    {{ post.meta | markdownify }}
  </div>

  <div class="principal-img" style="background: url({{ post.img }});">
    
  </div>
  {% endif %}
  {% endfor %}
</div>


<div class="artigos">

  <div class="artigos-chamada">
    <p>O que a gente pensa.</p>
    
    <p>Como a gente trabalha.</p>
    
    <p>Os casais lindos que nos permitiram tecer parte da história deles ao mesmo tempo que foram tecendo a nossa.</p>

  </div>

  <div class="artigos-texto">
    {% for post in site.posts limit:4 %}
    
      <div class="artigos-texto_item">
        
        <img src="{{ site.url }}{{ post.img }}" alt="">

        <div class="artigos-texto_info">
          <p class="artigos-tag">{{ post.tag }}</p>
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <p>{{ post.meta }}</p>
        </div>
        
        

      </div>
    
    {% endfor %}
  </div>

  
</div>