---
layout: default
title:  Levando famílias à harmonia.
type: index
---

<div class="principal">
  {% for post in site.posts %}
  {% if post.tipo == 'home' %}
  <div class="principal-explicacao">
    <p class="artigos-tag">{{ post.tag }}</p>
    {{ post.meta | markdownify }}
  </div>

  <div class="principal-img" style="background: url({{ post.img }});">
    
  </div>
  {% endif %}
  {% endfor %}
</div>


<div class="artigos">
  <div class="artigos-texto">
    {% for post in site.posts %}
    
      <div class="artigos-texto_item">
        
        <div class="artigos-texto_info">
          <h4>{{ post.title }}</h4>
          <p class="artigos-tag">{{ post.tag }}</p>
        </div>
        
        <img src="{{ site.url }}{{ post.img }}" alt="">

        <p><a class="button" href="{{ post.url }}"><em>Ler mais</em></a></p>
      </div>
    
    {% endfor %}
  </div>

  <div class="artigos-chamada">
    <h2>Texto explicando esse artigos.</h2>
    <p>Talvez valia a pena escrever um pouco mais aqui. Talvez não. Fica a seu critério.</p>
  </div>
</div>