
  <footer>
  	<h3>Siga a W!</h3>
    <div class="footer-social">
    	<a href="https://instagram.com/wproducoescasamentos?utm_source=ig_profile_share&igshid=1a2kuzw18p693"><i class="fab fa-instagram"></i></a>
    	<a href="https://www.youtube.com/channel/UC8InyUSbxyRsY-KzDRLcIkg"><i class="fab fa-facebook"></i></a>
    	<a href="https://whatsfacil.com/e678b8"><i class="fab fa-whatsapp"></i></a>
    </div>
  </footer>
</div>  
</body>

<script src="{{ site.url }}/js/swup.js"></script>
<script>var swup = new Swup() </script>
<script src="https://unpkg.com/lunr/lunr.js"></script>	