<nav class="--shadow">
  <a href="/artigos/">Artigos</a>
  <a href="/casamento-sagrado/">Casamento é sagrado</a>
  <a href="/como-podemos-ajudar/">Como podemos te ajudar?</a>
  <a href="/material-apoio/">Material de apoio</a>
  <a href="/portfolio/">Portfolio</a>
  <a href="#search"><i class="fas fa-search"></i></a>
</nav>

<div id="search" class="pesquisa">
	<div class="pesquisa-content">
		<form action="/search.html" method="get">
		  <label for="search-box">Escreva o que deseja pesquisar</label>
		  <input type="text" id="search-box" name="query" value="Algumacoisa">
		  <input type="submit" class="button" value="Pesquisar">
		</form>
		<br/>
		<div id="results-container"></div>
	</div>
</div>