---
layout: default
---

	<div class="copy-category">
		{{ page.tag }}
	</div>

  <div class="copy-hero" style="background-image: url({{ site.url }}/{{ page.img }});">
     
  	<div class="copy-hero_esq"></div>
  	<div class="copy-hero_gapesq"></div>
      
      <div class="copy-hero_content">
        <div class="copy-hero_title">
          <h1>{{ page.title }}</h1>
          <p class="artigos-tag">{{ page.tag }}</p>
        </div>
      </div> 

  	<div class="copy-hero_gapdir"></div>
  	<div class="copy-hero_dir"></div>

  </div>

  <div class="copy-hero_meta">
    <blockquote>{{ page.meta | markdownify }}</blockquote>
  </div>
  

  <div class="copy-content">
  	{{ content }}
    <p class="center">
    	<a class="button" href="{{ page.linkcta }}" data-no-swup>{{ page.cta }}</a>
    </p>
  </div>

  <div id="search" class="pesquisa">
  
  <div class="pesquisa-content">
    <p class="pesquisa-close">
      <a href="#" data-no-swup >Fechar <span class="pesquisa-close_x">×</span></a>
    </p>
      <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://facebook.us19.list-manage.com/subscribe/post?u=973ce925d715c73a1d57f6816&amp;id=c17b9e129e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2>Quero receber mais textos como esse!</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Meu email é  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">Meu nome é</label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_973ce925d715c73a1d57f6816_c17b9e129e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Me inscreve!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
  </div>
</div>